  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropbtn {
      background-color: yellow;
      padding: 10px;
      cursor: pointer;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: pink;
  }

  .dropdown-content a {
      display: block;
      padding: 5px;
      text-decoration: none;
      color: black;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  h2 {
      text-align: center;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }