        table {
            width: 80%;
            height: 150px;
            border-collapse: collapse;
            border: 2px solid black;
            margin-left: 10%;
            margin-right: 10%;
        }

        td {
            border: 2px solid black;
        }

        @media (max-width: 576px) {
            table {
                width: 95%;
                height: auto;
            }

            tr {
                display: block;
            }

            td {
                display: block;
                width: 100%;
            }
        }